__pycache__/
venv/
venv*/
saves/
images/
archive/
lib/

tessdata/

my-tests/
.coverage
.pytest_cache/
tests/out/

.vscode/

.mypy_cache
build/
dist/

.env
SOFTWARE_KEY
SOFTWARE_KEY.*

configs/*.json
!example.json

notes.txt
dev-notes.md

pyarmor.error.log
pyarmor.report.bug