__pycache__/
venv/
saves/
images/
archive/

tessdata/

my-tests/
.coverage
.pytest_cache/

.vscode/

.mypy_cache
build/
dist/

.env
configs/*.json
!example.json

notes.txt
dev-notes.md

pyarmor.error.log
pyarmor.report.bug