easyocr >= 1.7.1
levenshtein
numpy
opencv-python >= 4.9.0
openpyxl
pillow
pyautogui
pydantic >= 2.8.0
pydantic_settings
pytest
pytest-cov
python-dotenv
requests
screeninfo
torch==2.0.0+cu
torchvision > 0.5.0
tqdm